html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */


:root {
    --color-light01: #a8eb12;
    --color-light02: #00bf72;
    --color-medium: #008793;
    --color-dark01: #004d7a;
    --color-dark02: #051937;
    --shadow: 2px 2px 5px var(--color-dark01);
}
body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    gap: 2rem;
}

header {
    grid-row: 1;
}

h1 {
    color: var(--color-dark02);
    text-align: center;
    font-size: 3rem;
    padding: 1.5em 0;
}

/* main content */
main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
    justify-items: center;
}

main > #new-book {
    grid-column: 2;

    background-color: var(--color-medium);
    color: var(--color-light01);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 0.75rem;
    height: min-content;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.70em;

    border: none;
    border-radius: 5px;

}

main > #new-book:hover {
    cursor: pointer;
    background-color: #056a74;
}

main > #form {
    display: none;

    grid-column: 2;
    background-color: var(--color-medium);
    height: fit-content;
    padding: 2em;
    margin-top: 1em;

    border: 2px solid var(--color-light01);
    border-radius: 15px;
    box-shadow: var(--shadow), -2px -2px 5px var(--color-dark01);
}

main > #form > form {
    color: white;
    display: grid;
    gap: 1em;
}

main > #form > form > legend {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

main > #form > form div:not(.book-read) {
    display: grid;
}

main > #form > form div:not(.book-read) label {
    width: 100%;
    margin-bottom: 0.5em;
}

/* input text style */
input[type="text"] {
    background-color: #72b8be;
    font-family: inherit;
    font-size: 1rem;
    font-style: italic;

    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 0.5em 0.5em;
    width: 100%;
    transition: 180ms box-shadow ease-in-out;    
}

/* input radio style */
main > #form > form > .book-read {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.book-read > p {
    grid-column: 1 / 3;

    margin-bottom: 0.8em;
}

form input[type="radio"] + label {
    /* margin-top: 1em; */
}

form input[type="radio"] {
    justify-self: end;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    background-color: #fff;

    font: inherit;
    color: var(--color-dark02);
    width: 1.15em;
    height: 1.15em;
    border: 0.15 solid var(--color-dark02);
    border-radius: 50%;

    display: grid;
    place-content: center;
}

form input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-medium);
}

form input[type="radio"]:checked::before {
    transform: scale(1);
}

main > #form > form > .button-submit > button {
    background-color: var(--color-light01);
    color: var(--color-medium);
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
    text-transform: lowercase;
    padding: 0.3em 0;

    border: none;
    border-radius: 5px;

}

main > #form > form > .button-submit > button:hover {
    cursor: pointer;
    background-color: #8ac016;
}

/* display books */

main > #book-container {
    grid-area: 1 / 1 / 3 / 2;
}

main > #book-container .display {
    background-color: var(--color-light01);
    height: 170px;
    border-radius: 20px;
    margin: 15px;
    padding: 1em;
    box-shadow: var(--shadow);

    display: grid;
    gap: 0.75em;
    align-content: center;
    justify-items: center;
}

/* setting for paragraphs */
main > #book-container .display p:first-child {
    font-size: 1.5rem;
}

main > #book-container .display .button-remove {
    background-color: var(--color-light02);
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    /* font-weight: 900; */
    /* text-transform: uppercase; */
    padding: 0.3em;

    border: none;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

main > #book-container .display .button-remove:hover {
    cursor: pointer;
    color: var(--color-light01);
}